@layer withCarrousel {
  .slider {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;

    // Hide default carousel controls
    .slick-prev.slick-arrow,
    .slick-next.slick-arrow {
      display: none !important;
    }
  }
}
