@layer withCarrousel {
  .slider {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;

    // Hide default carousel controls
    .slick-prev.slick-arrow,
    .slick-next.slick-arrow {
      display: none !important;
    }

    .slider-controls {
      border: 4px solid blue;
      position: absolute;
      display: flex;
      gap: 40px;
      top: 110px;
      right: 60px;
      z-index: 10;

      // Cancel slick-slider styles
      .btn {
        position: relative;
        left: unset;
        right: unset;
        font-size: inherit;
        line-height: inherit;
        width: inherit;
        height: inherit;
        padding: inherit;
        top: unset;
        color: inherit;
        border: 0;
        transform: unset;

        &::before {
          display: none;
        }
      }
    }
  }
}
