:root {
    --website-footer-container-gap: 20px;
    --website-footer-container-grid-template: 1fr / 1fr;
    --website-footer-logo-width: 184.24px;
    --website-footer-copyright-grid-col: unset;
    --website-footer-copyright-text-align: left;
}

@layer footer {
    .global-footer {
        .container {
            display: grid;
            grid-template: var(--website-footer-container-grid-template);
            gap: var(--website-footer-container-gap);
        }

        .logo {
            position: relative;
            img {
                width: var(--website-footer-logo-width);
                height: inherit;
            }
        }

        .logo, a {
            &:hover {
                text-decoration: none;
            }
        }

        p, .footer-items-list {
            margin: 0;
        }

        .footer-items-list {
            list-style: none;
            padding: 0;

            a {
                position: relative;
                display: inline-block;
                padding-left: 27px;

                &::before {    
                    position: absolute;
                    top: -2px;
                    left: 0;
                    font-size: 1.3rem;
                }

            }

            .item-icon-bootstrap {
                &::before {
                    top: 6px;
                    font-size: 1.05rem;
                }
            }
        }

        .copyright {
            font-size: .9rem;
            grid-column: var(--website-footer-copyright-grid-col);
            text-align: var(--website-footer-copyright-text-align);
        }

        // Extra Large screens ...
        @media (min-width: 1400px) {
            // border: 3px solid purple;
            --website-footer-container-gap: 30px;
            --website-footer-logo-width: 263.48px;
            --website-footer-container-grid-template: auto auto / auto auto auto;
            --website-footer-copyright-grid-col: span 3;
            --website-footer-copyright-text-align: center;
        }
        
        // Large screens ...
        @media (min-width: 1200px) and (max-width: (1400px - 1)) {
            // border: 3px solid violet;
            --website-footer-container-gap: 30px;
            --website-footer-logo-width: 363.48px;
            --website-footer-container-grid-template: auto auto / auto auto auto;
            --website-footer-copyright-grid-col: span 3;
            --website-footer-copyright-text-align: center;
        }
        
        // Large Medium screens ...
        @media (min-width: 992px) and (max-width: (1200px - 1)) {
            // border: 3px solid lime;
            --website-footer-container-gap: 30px;
            --website-footer-logo-width: 263.48px;
            --website-footer-container-grid-template: auto auto / auto auto auto;
            --website-footer-copyright-grid-col: span 3;
            --website-footer-copyright-text-align: center;
        }

        // Medium Medium screens ...
        @media (min-width: 768px) and (max-width: (992px - 1)) {
            // border: 3px solid blue;
            --website-footer-container-grid-template: auto auto / auto auto auto;
            --website-footer-copyright-grid-col: span 3;
            --website-footer-copyright-text-align: center;
        }

        // // Small Medium screens ...
        // @media (min-width: 576px) and (max-width: (768px - 1)) {
        //     // border: 3px solid turquoise;
        // }

        // // Smaller screens ...
        // @media (max-width: (576px - 1px)) {
        //     // border: 3px solid chocolate;
        // }
    }
}