:root {
    --enjanga2025app-logo-icon-height: 30px;
    --enjanga2025app-logo-icon-gap: 26px;
}
/**
 * Icons (bootstrap, material)
 * lists using icons
 * ...
*/

@layer logo-icon {
    .icon-list {
        display: flex;
        list-style: none;
        justify-content: center;
        gap: var(--enjanga2025app-logo-icon-gap);
        padding: 0; 
        overflow: hidden;

        li {
            display: none; /* Hide all list items */
            img {
                height: var(--enjanga2025app-logo-icon-height);
            }
        } 

        // Extra Large screen ...
        @media (min-width: 1400px) {
            // border: 4px solid purple;
            --enjanga2025app-logo-icon-height: 53px;
            --enjanga2025app-logo-icon-gap: 70px;
        }
        
        // Large screen ...
        @media (min-width: 1200px) and (max-width: (1400px - 1)) {
            // border: 4px solid violet;
            --enjanga2025app-logo-icon-height: 53px;
            --enjanga2025app-logo-icon-gap: 70px;
        }
        
        // Large Medium screen ...
        @media (min-width: 992px) and (max-width: (1200px - 1)) {
            // border: 4px solid lime;
            --enjanga2025app-logo-icon-height: 53px;
            --enjanga2025app-logo-icon-gap: 70px;
        }

        // Medium Medium screen ...
        @media (min-width: 768px) and (max-width: (992px - 1)) {
            // border: 4px solid blue;
            --enjanga2025app-logo-icon-height: 53px;
            --enjanga2025app-logo-icon-gap: 70px;
        }

        // // Small Screen ...
        // @media (min-width: 576px) and (max-width: (768px - 1)) {
        //     border: 4px solid turquoise; 
        // }

        @media (min-width: 576px) { 
            li:nth-child(-n+6) { /* Show only the first 4 list items */
                display: list-item;
            }
        }

        // Smaller Screen ...
        @media (max-width: (576px - 1px)) {
            // border: 4px solid chocolate;
 
            li:nth-child(-n+4) { /* Show only the first 4 list items */
                display: list-item;
            }
        }

    }
}

