/**
 * - block-presentation-1
 * - list-of-social-icons
 * - list-items-inline
 * - list-items-inline
 *
**/

:root {
    --enjanga2025app-anchors-scrollto-top: -80px; 
    --enjanga2025app-btnscrolltop-font-size: 0.8rem;
    --enjanga2025app-btnscrolltop-x-pos: 10px; 

    --enjanga2025app-hero-elts-spacer: 20px 0 0 0;

    // Special card
    --enjanga2025app-special-card-padd: 30px 20px 20px 20px;
}


@layer anchors-scrollto {
    section { // Setting all sections of the website to a relative positionning for now
        position: relative;
    }

    .anchors-scrollto {
        position: absolute;
        top: var(--enjanga2025app-anchors-scrollto-top);  
        display: block;
        width: 100px;
        height: 20px; 

        // Extra Large screen ...
        @media (min-width: 1400px) {
            // border: 4px dashed purple;
            --enjanga2025app-anchors-scrollto-top: -160px;
        }
        
        // Large screen ...
        @media (min-width: 1200px) and (max-width: (1400px - 1)) {
            // border: 4px dashed violet;
            --enjanga2025app-anchors-scrollto-top: -160px;
        }
        
        // Large Medium screen ...
        @media (min-width: 992px) and (max-width: (1200px - 1)) {
            // border: 4px dashed lime;
            --enjanga2025app-anchors-scrollto-top: -140px;
        }

        // Medium Medium screen ...
        @media (min-width: 768px) and (max-width: (992px - 1)) {
            // border: 4px dashed blue;
            --enjanga2025app-anchors-scrollto-top: -130px;
        }

        // Small Screen ...
        @media (min-width: 576px) and (max-width: (768px - 1)) {
            // border: 4px dashed turquoise;
        }

        // Smaller Screen ...
        @media (max-width: (576px - 1px)) {
            // border: 4px dashed chocolate;
        }


    }
}


@layer btn-scroll-top {
    .btn-scroll-top {
        position: fixed;
        z-index: 999;
        bottom: 30px;  
        left: var(--enjanga2025app-btnscrolltop-x-pos); 

        // Extra Large screen ...
        @media (min-width: 1400px) {
            // border: 10px solid purple;  
            --enjanga2025app-btnscrolltop-x-pos: 50px;
        }
        
        // Large screen ...
        @media (min-width: 1200px) and (max-width: (1400px - 1)) {
            // border: 10px solid violet;  
            --enjanga2025app-btnscrolltop-x-pos: 90px;
        }
        
        // Large Medium screen ...
        @media (min-width: 992px) and (max-width: (1200px - 1)) {
            // border: 10px solid lime;  
            --enjanga2025app-btnscrolltop-x-pos: 90px;
        }

        // Medium Medium screen ...
        @media (min-width: 768px) and (max-width: (992px - 1)) {
            // border: 10px solid blue;  
        }

        // // Small Screen ...
        // @media (min-width: 576px) and (max-width: (768px - 1)) {
        //     border: 10px solid turquoise;
        // }

        // // Smaller Screen ...
        // @media (max-width: (576px - 1px)) {
        //     border: 10px solid chocolate;
        // }
    }
}


@layer section-footer-cta {
    .icon-list,
    .section-footer-cta,
    .site-carousel {
        // margin: var(--enjanga2025app-hero-elts-spacer);

        // Extra Large screen ...
        @media (min-width: 1400px) {
            // border: 10px solid purple;
            --enjanga2025app-hero-elts-spacer: 35px 0 0 0;
        }
        
        // Large screen ...
        @media (min-width: 1200px) and (max-width: (1400px - 1)) {
            // border: 10px solid violet;
            --enjanga2025app-hero-elts-spacer: 35px 0 0 0;
        }
        
        // Large Medium screen ...
        @media (min-width: 992px) and (max-width: (1200px - 1)) {
            // border: 10px solid lime;
            --enjanga2025app-hero-elts-spacer: 30px 0 0 0;
        }

        // Medium Medium screen ...
        @media (min-width: 768px) and (max-width: (992px - 1)) {
            // border: 10px solid blue;
            --enjanga2025app-hero-elts-spacer: 25px 0 0 0;
        }

        // // Small Screen ...
        // @media (min-width: 576px) and (max-width: (768px - 1)) {
        //     border: 10px solid turquoise;
        // }

        // // Smaller Screen ...
        // @media (max-width: (576px - 1px)) {
        //     border: 10px solid chocolate;
        // }
    }
}

@layer special-card {
    .special-card {
        // .card-body {
        //     padding: var(--enjanga2025app-special-card-padd);
        // }

        // &__title {}
        &__list {
            padding-left: 13px;
            // list items spacing
            display: grid;
            gap: 8px;
        }
        &__list:last-of-type {
            margin-bottom: 0;
        }
    }
}

