



@layer navigation-articles {
    // Navigation next and prev articles\
    .navigation-articles {
        display: flex;
        gap: 30px;
    }

    .navigation-articles-item  {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex: 1;
        padding: var(--appname-nav-ai-prev-padd);

        color: var(--appname-clr-blue-shade-1);

        &:hover {
            color:  var(--appname-clr-col1-accent-2);
            text-decoration: none;
            
            &::before, &::after {
                color:  var(--appname-clr-col1-accent-2);
            }
        }

        &::before, &::after {
            position: absolute;
            top: var(--appname-nav-ai-icon-y);
            color: var(--appname-clr-blue-shade-1);
        }

        &.item-next {
            padding: var(--appname-nav-ai-next-padd);
            &::after {
                right: 4px;
                left: auto;
            }
            flex-direction: column-reverse;
        }

        // Extra Large screen ...
        @media (min-width: 1400px) {
            --appname-nav-ai-icon-y: 2px;
            --appname-nav-ai-prev-padd: 0 0 0 25px;
            --appname-nav-ai-next-padd: 0 30px 0 0;
        }
        
        // Large screen ...
        @media (min-width: 1200px) and (max-width: (1400px - 1)) {
            --appname-nav-ai-icon-y: 2px;
            --appname-nav-ai-prev-padd: 0 0 0 25px;
            --appname-nav-ai-next-padd: 0 30px 0 0;
        }
        
        // Large Medium screen ...
        @media (min-width: 992px) and (max-width: (1200px - 1)) {
            --appname-nav-ai-icon-y: 2px;
            --appname-nav-ai-prev-padd: 0 0 0 25px;
            --appname-nav-ai-next-padd: 0 30px 0 0;
        }

        // Medium Medium screen ...
        @media (min-width: 768px) and (max-width: (992px - 1)) {
            --appname-nav-ai-icon-y: 2px;
            --appname-nav-ai-prev-padd: 0 0 0 20px;
            --appname-nav-ai-next-padd: 0 25px 0 0;
        }

        // Small Screen ...
        @media (min-width: 576px) and (max-width: (768px - 1)) {
            --appname-nav-ai-icon-y: 2px;
            --appname-nav-ai-prev-padd: 0 0 0 20px;
            --appname-nav-ai-next-padd: 0 25px 0 0;
        }
    }
}