:root {
    //navbar-nav
    --website-navbar-logo-width: 140px;
    --website-navbar-margin: 0;
    --website-navbar-gap: 0;
    --website-navbar-padding: 8px 0;
    --website-navbar-navitem-sep-display: none;
    --website-navbar-navitem-sep-right: -12px;

    --webite-navbar-collapse-padding: 15px 0;
}


@layer navbar {
    .navbar {
        padding: var(--website-navbar-padding);
        // // Extra Large screens ...
        @media (min-width: 1400px) {
            // border: 3px solid purple;
            --website-navbar-logo-width: 160px;
            --website-navbar-margin: 0 auto;
            --website-navbar-padding: 10px 0;
            --website-navbar-navitem-sep-display: block;
            --website-navbar-gap: 30px;
            --website-navbar-navitem-sep-right: -18px;
            --webite-navbar-collapse-padding: 0;
        }
    
        // Large screens ...
        @media (min-width: 1200px) and (max-width: (1400px - 1)) {
            // border: 3px solid violet;
            --website-navbar-logo-width: 140px;
            --website-navbar-margin: 0 auto;
            --website-navbar-padding: 10px 0;
            --website-navbar-navitem-sep-display: block;
            --website-navbar-gap: 30px;
            --website-navbar-navitem-sep-right: -18px;
            --webite-navbar-collapse-padding: 0;
        }

        // Large Medium screens ...
        @media (min-width: 992px) and (max-width: (1200px - 1)) {
            // border: 3px solid lime;
            --website-navbar-logo-width: 140px;
            --website-navbar-margin: 0 auto;
            --website-navbar-padding: 10px 0;
            --website-navbar-navitem-sep-display: block;
            --website-navbar-gap: 20px;
            --webite-navbar-collapse-padding: 0;
        }

        // Medium Medium screens ...
        @media (min-width: 768px) and (max-width: (992px - 1)) {
            // border: 3px solid blue;
            --website-navbar-padding: 10px 0;
        }

        // // Small Medium screens ...
        // @media (min-width: 576px) and (max-width: (768px - 1)) {
        //     // border: 3px solid turquoise;
        // }

        // // Smaller screens ...
        // @media (max-width: (576px - 1px)) {
        //     // border: 3px solid chocolate;
        // }


            
        .container {
            position: relative;
        }
 
        .navbar-collapse {
            text-align: center;
            padding: var(--webite-navbar-collapse-padding);
        }
        
        .navbar-nav {
            gap: var(--website-navbar-gap);
        }

        .nav-item { 
            position: relative;

            // separator between links
            &::after { 
                display: var(--website-navbar-navitem-sep-display);
                position: absolute;
                top: 30%;
                right: var(--website-navbar-navitem-sep-right);
                content: '';
                width: 1px;
                height: 20px;
                background-color: red;
            }
            &:last-of-type {
                &::after { 
                    display: none;
                }
            }
        }

        .nav-link {
            font-weight: 500;

            &:hover {
                text-decoration: underline;
            }
            
            &.active {
                text-shadow: 0 0 7px var(--website-clr-col1-accent-xx1);
                text-decoration: underline;
            }

            &.item-icon-material {
                position: relative;
                font-weight: bold;
                display: inline-block;
                text-decoration: none;
                padding-right: 22px;

                &:hover {
                    text-decoration: underline;
                }
                
                &::after {
                    position: absolute;
                    left: unset;
                    right: 0px;
                    top: 5px;
                }
            }
        }

        .navbar-brand {
            img {
                width: var(--website-navbar-logo-width);
                height: inherit;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}