:root {
  // Normal buttons ...
  --enjanga2025app-btn-md-padding: 8px 16px;
  --enjanga2025app-btn-fontsize: 1.15rem;
  // Normal buttons + icon
  --enjanga2025app-btn-icon-before-padding: 10px 20px 10px 40px;
  --enjanga2025app-btn-icon-after-padding: 10px 40px 10px 20px;
  --enjanga2025app-btn-icon-icon-size: 1.5rem;
  --enjanga2025app-btn-icon-icon-top: 5px;
  --enjanga2025app-btn-icon-icon-left: 9px;
  --enjanga2025app-btn-icon-icon-right: 17px;

  // Small buttons ...
  --enjanga2025app-btn-sm-padding: 0.25rem 0.75rem;
  --enjanga2025app-btn-sm-fontsize: 0.875rem;

  // large buttons ...
  --enjanga2025app-btn-lg-padding: 14px 25px;
  --enjanga2025app-btn-lg-fontsize: 1.4rem;

  // Small buttons + icon
  --enjanga2025app-btn-icon-before-sm-padding: 0.25rem 0.75rem 0.25rem 2rem; // icon before
  --enjanga2025app-btn-icon-after-sm-padding: 0.25rem 2rem 0.25rem 0.75rem; // icon after
  --enjanga2025app-btn-icon-sm-icon-size: 1.1rem;
  --enjanga2025app-btn-icon-sm-icon-top: 2px;
  --enjanga2025app-btn-icon-sm-icon-right: 10px;

  // btn icon ...
  --enjanga2025app-btnicon-padding: 10px 45px 10px 20px;
  --enjanga2025app-btnicon-icon-top: 6px;
  --enjanga2025app-btnicon-icon-right: 20px;
}

@layer button {
  .btn {
    border-radius: var(--enjanga2025app-bdr-radius-0);
    border-width: 2px;
    padding: var(--enjanga2025app-btn-md-padding);
    font-weight: 500;
    font-size: var(--enjanga2025app-btn-fontsize);

    // ...
    &.item-icon-bootstrap,
    &.item-icon-material {
      position: relative;

      &.item-icon-material-before {
        padding: var(--enjanga2025app-btn-icon-before-padding);

        &::before {
          left: var(--enjanga2025app-btn-icon-icon-left);
        }
      }
      &.item-icon-material-after {
        padding: var(--enjanga2025app-btn-icon-after-padding);

        &::after {
          left: unset;
          right: var(--enjanga2025app-btn-icon-icon-right);
        }
      }

      &::before,
      &::after {
        position: absolute;

        font-size: var(--enjanga2025app-btn-icon-icon-size);
        top: var(--enjanga2025app-btn-icon-icon-top);
      }
    }

    &.btn-sm {
      padding: var(--enjanga2025app-btn-sm-padding);
      font-size: var(--enjanga2025app-btn-sm-fontsize);

      &.item-icon-bootstrap,
      &.item-icon-material {
        &.item-icon-material-before {
          padding: var(--enjanga2025app-btn-icon-before-sm-padding);

          &::before {
            left: var(--enjanga2025app-btn-icon-sm-icon-right);
          }
        }
        &.item-icon-material-after {
          padding: var(--enjanga2025app-btn-icon-after-sm-padding);

          &::after {
            right: var(--enjanga2025app-btn-icon-sm-icon-right);
          }
        }

        &::before,
        &::after {
          font-size: var(--enjanga2025app-btn-icon-sm-icon-size);
          top: var(--enjanga2025app-btn-icon-sm-icon-top);
        }
      }
    }

    &.btn-lg {
      padding: var(--enjanga2025app-btn-lg-padding);
      font-size: var(--enjanga2025app-btn-lg-fontsize);
    }
  }
}

@layer button {
  .btn {
    &:disabled {
      opacity: 0.5;
    }

    .icon {
      margin-left: 0.7rem;
    }

    &.btn-md,
    &.btn-lg {
      .icon {
        width: 1.3rem;
        height: 1.3rem;
      }
    }

    &-primary {
      color: var(--enjanga2025app-theme-light-bbbb-0);
      background-color: var(--enjanga2025app-theme-light-aaaa-y);
      border-color: var(--enjanga2025app-theme-light-aaaa-2);

      &:hover {
        background-color: var(--enjanga2025app-theme-light-aaaa-x);
        border-color: var(--enjanga2025app-theme-light-aaaa-7);
      }
      &:active {
        background-color: var(--enjanga2025app-theme-light-aaaa-7);
      }
      .icon path { 
        fill: var(--enjanga2025app-theme-light-bbbb-0);
      }
    }

    // .slick-arrow, // Set carousel buttons as 2nd btns
    &-secondary {
      color: var(--enjanga2025app-theme-light-bbbb-0);
      background-color: transparent;
      border-color: var(--enjanga2025app-theme-light-bbbb-5);
  
      &.btn-neon {
        color: var(--enjanga2025app-theme-light-aaaa-y);
        border-color: var(--enjanga2025app-theme-light-aaaa-y);
  
        &:hover {
          color: var(--enjanga2025app-theme-light-bbbb-5);
          .icon path { 
            fill: var(--enjanga2025app-theme-light-bbbb-5);
          }
        }

        .icon path { 
          fill: var(--enjanga2025app-theme-light-aaaa-y);
        }
      }
  
      &:hover {
        background-color: var(--enjanga2025app-theme-light-aaaa-x);
        border-color: var(--enjanga2025app-theme-light-aaaa-x);
      }
      &:active {
        background-color: var(--enjanga2025app-theme-light-cccc-10);
      }
    }

    &-transparent {
      text-decoration: underline;
      color: var(--enjanga2025app-theme-light-eee-1);
    }
  }

  
}
