:root {
  --enjanga2025app-hero-height: auto; // 270px;
  --enjanga2025app-hero-container-paddtop: 70px;

  --enjanga2025app-hero-subtitle: 1.188rem;
  --enjanga2025app-hero-subtitle-lineheight: 1.75rem;

  --enjanga2025app-hero-decoration-display: block;
  --enjanga2025app-hero-decoration-height: 400px;
  --enjanga2025app-hero-decoration-right: 0;

  --enjanga2025app-hero-jumbotron-margin: 0;
}

@layer hero {
  .Hero {
    position: relative;
    height: var(--enjanga2025app-hero-height);
    overflow: hidden;
    background-color: var(--enjanga2025app-theme-light-bbbb-0);

    &-title {
      color: var(--enjanga2025app-theme-light-xxxx-0);
    }

    &-subtitle {
      color: var(--enjanga2025app-theme-light-bbbb-6);
      font-size: var(--enjanga2025app-hero-subtitle);
      line-height: var(--enjanga2025app-hero-subtitle-lineheight);
      p {
        margin-bottom: 0;
      }
    }

    &-content-wrapper {
      padding-top: var(--enjanga2025app-hero-container-paddtop);
    }

    &-decoration {
      position: absolute;
      z-index: 1;
      display: var(--enjanga2025app-hero-decoration-display);
      // width: inherit;
      height: var(--enjanga2025app-hero-decoration-height);
      right: var(--enjanga2025app-hero-decoration-right);
      bottom: 0;
    }

    &-jumbotron {
      position: relative;
      margin: var(--enjanga2025app-hero-jumbotron-margin);
      z-index: 3;
    }

    // Extra Large screen ...
    @media (min-width: 1400px) {
      // border: 3px solid purple;
      --enjanga2025app-hero-height: auto; // 640px;
      --enjanga2025app-hero-container-paddtop: 150px;

      --enjanga2025app-hero-subtitle: 1.3rem;
      --enjanga2025app-hero-subtitle-lineheight: 1.9rem;

      --enjanga2025app-hero-decoration-height: 100%;
      --enjanga2025app-hero-decoration-right: -15%;
      --enjanga2025app-hero-decoration-display: block;
    }

    // Large screen ...
    @media (min-width: 1200px) and (max-width: (1400px - 1)) {
      // border: 3px solid violet;
      --enjanga2025app-hero-height: auto; // 560px;
      --enjanga2025app-hero-container-paddtop: 150px;

      --enjanga2025app-hero-subtitle: 1.38rem;
      --enjanga2025app-hero-subtitle-lineheight: 1.95rem;

      --enjanga2025app-hero-decoration-height: 100%;
      --enjanga2025app-hero-decoration-right: -15%;
      --enjanga2025app-hero-decoration-display: block;
    }

    // Large Medium screen ...
    @media (min-width: 992px) and (max-width: (1200px - 1)) {
      // border: 3px solid lime;
      --enjanga2025app-hero-height: auto; // 430px;
      --enjanga2025app-hero-container-paddtop: 120px;

      --enjanga2025app-hero-subtitle: 1.38rem;
      --enjanga2025app-hero-subtitle-lineheight: 1.95rem;

      --enjanga2025app-hero-decoration-height: 100%;
      --enjanga2025app-hero-decoration-right: -15%;
      --enjanga2025app-hero-decoration-display: block;
    }

    // Medium Medium screen ...
    @media (min-width: 768px) and (max-width: (992px - 1)) {
      // border: 3px solid blue;
      --enjanga2025app-hero-height: auto; // 430px;
      --enjanga2025app-hero-container-paddtop: 130px;

      --enjanga2025app-hero-subtitle: 1.288rem;
      --enjanga2025app-hero-subtitle-lineheight: 1.85rem;

      --enjanga2025app-hero-decoration-height: 100%;
      --enjanga2025app-hero-decoration-right: -20%;
      --enjanga2025app-hero-decoration-display: block;
    }

    // Small Screen ...
    @media (min-width: 576px) and (max-width: (768px - 1)) {
      // border: 3px solid turquoise;

      --enjanga2025app-hero-decoration-height: 100%;
      --enjanga2025app-hero-decoration-right: -20%;
      --enjanga2025app-hero-decoration-display: block;
    }

    // Smaller Screen ...
    @media (max-width: (576px - 1px)) {
      // border: 3px solid chocolate;
      --enjanga2025app-hero-decoration-right: -40%;
    }
  }
}
