:root {
  --enjanga2025app-theme-light-xxxx-0: #fff;

  --enjanga2025app-theme-light-aaaa-0: #e0fff2;
  --enjanga2025app-theme-light-aaaa-1: #c9ffe8;
  --enjanga2025app-theme-light-aaaa-2: #a5ffd9;
  --enjanga2025app-theme-light-aaaa-3x: #86f9c8;
  --enjanga2025app-theme-light-aaaa-x: #adff00;
  --enjanga2025app-theme-light-aaaa-y: #00ff94;
  --enjanga2025app-theme-light-aaaa-2: #4ac994;
  --enjanga2025app-theme-light-aaaa-3: #80d1a5;
  --enjanga2025app-theme-light-aaaa-7: #80aa27;

  --enjanga2025app-theme-light-bbbb-0: #010023;
  --enjanga2025app-theme-light-bbbb-01: #020023;
  --enjanga2025app-theme-light-bbbb-02: #1b1b39;
  --enjanga2025app-theme-light-bbbb-03: #2e2e53;
  --enjanga2025app-theme-light-bbbb-1: #323069;
  --enjanga2025app-theme-light-bbbb-2: #3423a0;
  --enjanga2025app-theme-light-bbbb-2a: #3b27be;
  --enjanga2025app-theme-light-bbbb-3: #4934d5;
  --enjanga2025app-theme-light-bbbb-3a: #3e2cb1;
  --enjanga2025app-theme-light-bbbb-4: #5742d3;
  --enjanga2025app-theme-light-bbbb-5: #535273;
  --enjanga2025app-theme-light-bbbb-6: #dddcf2;
  --enjanga2025app-theme-light-bbbb-7: #f0effb;
  --enjanga2025app-theme-light-bbbb-8: #edebf7;
  --enjanga2025app-theme-light-bbbb-9: #ccccf5;
  --enjanga2025app-theme-light-bbbb-10: #c4c2ff;

  --enjanga2025app-theme-light-eee-0: #850c7d;
  --enjanga2025app-theme-light-eee-1: #bd0db1;
  --enjanga2025app-theme-light-eee-2: #ff0bef;

  --enjanga2025app-theme-light-cccc-0: #0066ff;

  --enjanga2025app-theme-light-cccc-2: #e0dcf6;
  --enjanga2025app-theme-light-cccc-2a: #dad6ee;
  --enjanga2025app-theme-light-cccc-3: #d9caf2;
  --enjanga2025app-theme-light-cccc-4: #afaede;
  --enjanga2025app-theme-light-cccc-7: #b5aee8;
  --enjanga2025app-theme-light-cccc-8: #aba1ee;
  --enjanga2025app-theme-light-cccc-10: #8073d5;
  --enjanga2025app-theme-light-cccc-11: #5b4eb2;
  --enjanga2025app-theme-light-cccc-14: #9c8eff;
}
@layer theming {
  // html[data-theme="light"] {
  body {
    background-color: var(--enjanga2025app-theme-light-bbbb-8);
    color: var(--enjanga2025app-theme-light-bbbb-5);
  }

  @layer component-mix {
    .section-introduction .card,
    .site-carousel__items-list .card {
      border: 1px solid var(--enjanga2025app-theme-light-cccc-3);
    }
  }

  @layer hero {
    .hero {
      background-color: var(--enjanga2025app-theme-light-bbbb-0);
    }
  }

  @layer navbar {
    .navbar {
      &.navbar-masked {
        background-color: var(--enjanga2025app-theme-light-bbbb-0);
      }

      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba%28200, 200, 200, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
      }
      .navbar-toggler:focus {
        box-shadow: 0px 0px 10px var(--enjanga2025app-theme-light-xxxx-0);
      }

      .navbar-brand,
      .nav-link {
        &:hover,
        &.active {
          color: var(--enjanga2025app-theme-light-aaaa-y);
        }
      }
      .navbar-collapse.collapse.show {
        background-color: var(--enjanga2025app-theme-light-bbbb-0);
      }

      .nav-item {
        // separator between links
        &::after {
          background-color: var(--enjanga2025app-theme-light-bbbb-4);
        }
      }

      .nav-link {
        &.item-icon-material {
          &:hover {
            color: var(--enjanga2025app-theme-light-aaaa-y);
          }
        }
      }

      // Extra Large screen ...
      @media (min-width: 1400px) {
        // border: 10px solid purple;
      }

      // Large screen ...
      @media (min-width: 1200px) and (max-width: (1400px - 1)) {
        // border: 10px solid violet;
      }

      // Large Medium screen ...
      @media (min-width: 992px) and (max-width: (1200px - 1)) {
        // border: 10px solid lime;
      }

      // Medium Medium screen ...
      @media (min-width: 768px) and (max-width: (992px - 1)) {
        // border: 10px solid blue;
      }

      // Small Screen ...
      @media (min-width: 576px) and (max-width: (768px - 1)) {
        // border: 10px solid turquoise;
      }

      // Smaller Screen ...
      @media (max-width: (576px - 1px)) {
        // border: 10px solid chocolate;
      }
    }
  }

  @layer section-theme {
    .section-theme1 {
      background-color: var(--enjanga2025app-theme-light-bbbb-2);

      .card {
        background-color: var(--enjanga2025app-theme-light-bbbb-3);
      }
    }
  }

  @layer utilities {
    .txt-highlight1 {
      color: var(--enjanga2025app-theme-light-bbbb-1);
    }
  }
  // }
}
