:root {
  --enjanga2025app-carousel-hover-state: 35%;
  --enjanga2025app-carousel-btnprev-y: -60px;
  --enjanga2025app-carousel-item-gap: 20px;

  --enjanga2025app-carousel-controls-top: -110px;
  --enjanga2025app-carousel-controls-flexdir: column;
  --enjanga2025app-carousel-controls-width: min-content;
  --enjanga2025app-carousel-controls-gap: 5px;
  // CAROUSSEL CONTROLS ADAPTATION FOR SMALL SCREENS (for Portfolio frame) ---
  --enjanga2025app-portfolio-pageSection-hero-mb: 75px;
  --enjanga2025app-portfolio-carrousel-controls-top: -65px;
  --enjanga2025app-portfolio-carrousel-controls-right: unset; // 0px
  --enjanga2025app-portfolio-carrousel-controls-left: 50%;
  --enjanga2025app-portfolio-carrousel-controls-marg-left: 172.8px; // (Computed container's width)
  // CAROUSSEL CONTROLS ADAPTATION FOR SMALL SCREENS ---

  // Special card
  --website-carousel-card-padd: 0.938rem 1.25rem 1.25rem 1.25rem;
}

.Portfolio {
  position: relative;
  background-color: var(--enjanga2025app-theme-light-xxxx-0);

  .PanelFrame {
    /*
      * CAROUSSEL CONTROLS ADAPTATION FOR SMALL SCREENS (for Portfolio frame) ---
      * Adapting the layout accomodate caroussel buttons on small and medium small devices  
      * ----------------------
    */
    .pageSection-hero {
      // border: 4px solid turquoise;
      margin-bottom: var(--enjanga2025app-portfolio-pageSection-hero-mb);
    }

    // ...
    .slider {
      // ...
      .carrousel-controls {
        position: absolute;
        // CAROUSSEL CONTROLS ADAPTATION FOR SMALL SCREENS (for Portfolio frame) ---
        top: var(--enjanga2025app-portfolio-carrousel-controls-top);
        right: var(--enjanga2025app-portfolio-carrousel-controls-right);
        left: var(--enjanga2025app-portfolio-carrousel-controls-left);
        margin-left: calc(-1 * var(--enjanga2025app-portfolio-carrousel-controls-marg-left)/2);
        // CAROUSSEL CONTROLS ADAPTATION FOR SMALL SCREENS ---
        z-index: 10;
      }

      // Fix slide's width
      .slider-item {
        max-width: 360px;
      }
    
      .slick-track {
        .slick-slide {
          // Center inner slide
          > div {
            display: flex;
            justify-content: center;
          }
        }

        /**
        * Styling the 3 active items .......
        * ----------------------------------
        */
        @media (min-width: 1400px) { 
          --enjanga2025app-carousel-item-gap: 70px!important;
        }
    
        @media (min-width: 1200px) {
          --enjanga2025app-carousel-item-gap: 25px;
    
          .slick-active {
            // 1st element ...
            &:has(+ .slick-active + .slick-active) {
              .card {
                margin-left: 0;
                margin-right: var(--enjanga2025app-carousel-item-gap);
              }
            }
            // 2nd element ...
            &:has(+ .slick-active),
            &.slick-current + .slick-active {
              .card {
                margin-left: calc(var(--enjanga2025app-carousel-item-gap) / 2);
                margin-right: calc(var(--enjanga2025app-carousel-item-gap) / 2);
              }
            }
            // 3rd element ...
            &.slick-current + .slick-active + .slick-active,
            &:last-of-type.slick-current {
              .card {
                margin-left: var(--enjanga2025app-carousel-item-gap);
              }
            }
          }
        }
    
        /**
        * Styling the 2 active items .......
        * ----------------------------------
        */
        @media (min-width: 768px) and (max-width: (1200px - 1)) {
          --enjanga2025app-carousel-item-gap: 20px;
    
          .slick-active {
            // 1st element ...
            &:has(+ .slick-active) {
              .card {
                margin-right: var(--enjanga2025app-carousel-item-gap);
              }
            }
            // 2nd element ...
            &.slick-current + .slick-active,
            &:last-of-type.slick-current {
              .card {
                margin-left: var(--enjanga2025app-carousel-item-gap);
              }
            }
          }
        }
      }
    }
  }





  // Extra Large screen ...
  @media (min-width: 1400px) {
    // border: 4px solid purple;
    // CAROUSSEL CONTROLS ADAPTATION FOR SMALL SCREENS (for Expertise frame) ---
    --enjanga2025app-portfolio-pageSection-hero-mb: 45px;
    --enjanga2025app-portfolio-carrousel-controls-top: -190px;
    --enjanga2025app-portfolio-carrousel-controls-right: 9%;
    --enjanga2025app-portfolio-carrousel-controls-left: auto;
    --enjanga2025app-portfolio-carrousel-controls-marg-left: auto;
    // CAROUSSEL CONTROLS ADAPTATION FOR SMALL SCREENS ---
  }

  // Large screen ...
  @media (min-width: 1200px) and (max-width: (1400px - 1)) {
    // border: 4px solid violet;
    // CAROUSSEL CONTROLS ADAPTATION FOR SMALL SCREENS (for Expertise frame) ---
    --enjanga2025app-portfolio-pageSection-hero-mb: 35px;
    --enjanga2025app-portfolio-carrousel-controls-top: -170px;
    --enjanga2025app-portfolio-carrousel-controls-right: 9%;
    --enjanga2025app-portfolio-carrousel-controls-left: auto;
    --enjanga2025app-portfolio-carrousel-controls-marg-left: auto;
    // CAROUSSEL CONTROLS ADAPTATION FOR SMALL SCREENS ---
  }

  // Large Medium screen ...
  @media (min-width: 992px) and (max-width: (1200px - 1)) {
    // border: 4px solid lime;
    // CAROUSSEL CONTROLS ADAPTATION FOR SMALL SCREENS (for Expertise frame) ---
    --enjanga2025app-portfolio-pageSection-hero-mb: 30px;
    --enjanga2025app-portfolio-carrousel-controls-top: -170px;
    --enjanga2025app-portfolio-carrousel-controls-right: 9%;
    --enjanga2025app-portfolio-carrousel-controls-left: auto;
    --enjanga2025app-portfolio-carrousel-controls-marg-left: auto;
    // CAROUSSEL CONTROLS ADAPTATION FOR SMALL SCREENS ---
  }

  // Medium Medium screen ...
  @media (min-width: 768px) and (max-width: (992px - 1)) {
    // border: 4px solid blue;
  }

  // Small Screen ...
  @media (min-width: 576px) and (max-width: (768px - 1)) {
    // border: 4px solid turquoise;
  }

  // Smaller Screen ...
  @media (max-width: (576px - 1px)) {
    // border: 4px solid chocolate;
  }
}
