:root {
  --enjanga2025app-LanguageToggle-gap: 5px;
}

.LanguageToggle {
  display: flex;
  border: 1px solid var(--enjanga2025app-theme-light-cccc-10);
  padding: var(--enjanga2025app-LanguageToggle-gap);
  gap: var(--enjanga2025app-LanguageToggle-gap);
  border-radius: 8px;

  .btn {
    color: var(--enjanga2025app-theme-light-xxxx-0);
    font-size: 14px;
    border-width: 0px;
    letter-spacing: 2px;
    padding: 0.3rem 0.7rem;
    line-height: 0.8rem;

    &:hover {
      background-color: var(--enjanga2025app-theme-light-eee-0);
    }

    &.active {
      background-color: var(--enjanga2025app-theme-light-eee-1);
    }
  }
}