:root {
  --appname-expertise-PanelFrame-height: unset;
}

#scope-of-expertise {
  .slider {
    position: relative;
    border: 4px solid red;

    // ...
    .carrousel-controls {
      // border: 4px solid blue;
      position: absolute;
      top: 130px;
      right: 60px;
      z-index: 10;

      &.slide-index-1,
      &.slide-index-2 { 
        .btn {
          color: var(--appname-theme-light-xxxx-0); 
          &:hover {
            color: var(--appname-theme-light-aaaa-x);
            background-color: var(--appname-theme-light-cccc-11);
          }
          &:active {
            color: var(--appname-theme-light-xxxx-0); 
            background-color: var(--appname-theme-light-eee-1);
            border-color: var(--appname-theme-light-eee-1);
          }
        }
      }
    }

    .PanelFrame {
      border: 4px dashed blue;
      min-height: var(--appname-expertise-PanelFrame-height);
    }

  }

  // ...


  // Extra Large screen ...
  @media (min-width: 1400px) {
    // border: 10px solid purple;
    --appname-expertise-PanelFrame-height: 800px;
  }

  // Large screen ...
  @media (min-width: 1200px) and (max-width: (1400px - 1)) {
    // border: 10px solid violet;
  }

  // Large Medium screen ...
  @media (min-width: 992px) and (max-width: (1200px - 1)) {
    // border: 10px solid lime;
  }

  // Medium Medium screen ...
  @media (min-width: 768px) and (max-width: (992px - 1)) {
    // border: 10px solid blue;
  }

  // Small Screen ...
  @media (min-width: 576px) and (max-width: (768px - 1)) {
    // border: 10px solid turquoise;
  }

  // Smaller Screen ...
  @media (max-width: (576px - 1px)) {
    // border: 10px solid chocolate;
  }
}
