:root { 
  --enjanga2025app-carousel-card-padd: 0.938rem 1.25rem 1.25rem 1.25rem;
}

.ProjectThumb.card {
  position: relative;
  display: block;
  text-decoration: none;
  display: block;
  width: 100%;
  background-color: transparent;
  border: 2px solid transparent;

  border-radius: var(--enjanga2025app-bdr-radius-0);
  overflow: hidden;

  cursor: pointer;

  .img-fluid {
    background-color: var(--enjanga2025app-theme-light-cccc-2);
  }

  &:hover {
    border-color: var(--enjanga2025app-theme-light-aaaa-2);
    background-color: var(--enjanga2025app-theme-light-aaaa-3x);

    .img-fluid {
      background-color: transparent;
    }

    .ProjectThumb-description {
      color: var(--enjanga2025app-theme-light-bbbb-1);
    } 
  }

  .card-body {
    background-color: transparent;
    padding: var(--enjanga2025app-carousel-card-padd);
  }

  .ProjectThumb-description {
    font-weight: bold;
    line-height: 1.4rem;
  }

}
