
// Using layers to override bootstrap features without using "!important"

@use "./vendors/_bootstrap-5.3.3.min";

@use "./base/initialization";
@use "./base/variables";
@use "./base/utilities";
@use "./base/grid-system";

@use "./theming/light-mode";






/**
 * NOTE ON BACKGROUND IMAGES
 * ------
 They have to be referrenced relative to this file (_index.scss), so url(./_img/...)
*/

// Refactor this later ***** (was associated to .PanelFrame)
// --------------
:root {
  --appname-pageSection-header-marg-bottom: 15px;
}
.pageSection-title {
  margin-bottom: var(--appname-pageSection-header-marg-bottom) !important;
}

.pageSection-hero {
  margin-bottom: var(--appname-pageSection-hero-marg-bottom);
}
.pageSection-intro-text {
  max-width: 744px;
}
// Refactor this later ***** (was associated to .PanelFrame)
// --------------



/*********/
/*********/
/*********/


.theme-1 {
  color: var(--appname-theme-light-bbbb-1);
  background-color: var(--appname-theme-light-bbbb-8);

  .pageSection-intro-text {
    a {
      color: var(--appname-theme-light-eee-1);
    }
  }
}

.theme-2 {
  color: var(--appname-theme-light-xxxx-0);
  background-color: var(--appname-theme-light-bbbb-2);

  .pageSection-intro-text {
    a {
      color: var(--appname-theme-light-eee-2);
    }
  }

  .PanelFrame-item {
    color: var(--appname-theme-light-xxxx-0);
    background-color: var(--appname-theme-light-bbbb-3);

    .icon {
      color: var(--appname-theme-light-bbbb-10);
    }

    .btn-link {
      color: var(--appname-theme-light-eee-2);
    }

    // ...
    &:hover {
      border-color: var(--appname-theme-light-aaaa-7);
      background-color: var(--appname-theme-light-bbbb-3a);
    }
  }
}

.theme-3 {
  color: var(--appname-theme-light-xxxx-0);
  background-color: var(--appname-theme-light-bbbb-01);

  .pageSection-intro-text {
    a {
      color: var(--appname-theme-light-eee-1);
    }
  }
}




/*********/
/*********/
/*********/