:root { 
  --appname-about-container-display: block;
  --appname-about-container-overflow: hidden;
  --appname-about-article-display: block;
  --appname-about-article-flex-dir: column; 
  --appname-about-article-justify-cont: center;
  --appname-about-article-marg: 0;
}

.About {
  overflow: hidden;
  background-color: var(--appname-theme-light-bbbb-0);

  &-title {
    color: var(--appname-theme-light-xxxx-0);
  }

  &-description {
    color: var(--appname-theme-light-bbbb-6);
  }

  &-article {
    position: relative;
    z-index: 3;
    background: rgba(2, 0, 35, 0.7);

    display: var(--appname-about-article-display);
    flex-direction: var(--appname-about-article-flex-dir); 
    justify-content: var(--appname-about-article-justify-cont);
  }

  &-description {
    a {
      color: var(--appname-theme-light-eee-2);
    }
  }

  .container {
    position: relative;
    display: var(--appname-about-container-display); 
    overflow: var(--appname-about-container-overflow);
  }

  // Extra Large screen ...
  @media (min-width: 1400px) {
    // border: 10px solid purple;
    --appname-about-container-display: flex;
    --appname-about-article-display: flex;
    --appname-about-container-overflow: visible;
  }

  // Large screen ...
  @media (min-width: 1200px) and (max-width: (1400px - 1)) {
    // border: 10px solid violet;
    --appname-about-container-overflow: visible;
  }

  // Large Medium screen ...
  @media (min-width: 992px) and (max-width: (1200px - 1)) {
    // border: 10px solid lime;
    --appname-about-container-overflow: visible;
  }

  // Medium Medium screen ...
  @media (min-width: 768px) and (max-width: (992px - 1)) {
    // border: 10px solid blue;
    --appname-about-container-overflow: visible;
  }

  // Small Screen ...
  @media (min-width: 576px) and (max-width: (768px - 1)) {
    // border: 10px solid turquoise;
  }

  // Smaller Screen ...
  @media (max-width: (576px - 1px)) {
    // border: 10px solid chocolate;
  }
}
