:root { 
  --enjanga2025app-about-description-block-display: grid;
  --enjanga2025app-about-description-block-grid: 1fr / 1fr;
  --enjanga2025app-about-description-block-gap: 10px;

  --enjanga2025app-about-footer-textalign: left;
  --enjanga2025app-about-footer-margbot: 20px;
}

.About {
  .description-block {
    margin-bottom: var(--enjanga2025app-about-footer-margbot);
    display: var(--enjanga2025app-about-description-block-display);
    grid: var(--enjanga2025app-about-description-block-grid);
    gap: var(--enjanga2025app-about-description-block-gap);
  }

  .footer {
    text-align: var(--enjanga2025app-about-footer-textalign);
  }

  // Extra Large screen ...
  @media (min-width: 1400px) {
    // border: 4px solid purple; 
    --enjanga2025app-about-description-block-grid: 1fr / 1fr 1fr 1fr;
    --enjanga2025app-about-description-block-gap: 60px;
    --enjanga2025app-about-footer-textalign: center;
  }

  // Large screen ...
  @media (min-width: 1200px) and (max-width: (1400px - 1)) {
    // border: 4px solid violet; 
    --enjanga2025app-about-description-block-grid: 1fr / 1fr 1fr 1fr;
    --enjanga2025app-about-description-block-gap: 30px;
    --enjanga2025app-about-footer-textalign: center;
  }

  // Large Medium screen ...
  @media (min-width: 992px) and (max-width: (1200px - 1)) {
    // border: 4px solid lime; 
    --enjanga2025app-about-description-block-grid: 1fr / 1fr 1fr 1fr;
    --enjanga2025app-about-footer-textalign: center;
  }

  // Medium Medium screen ...
  @media (min-width: 768px) and (max-width: (992px - 1)) {
    // border: 4px solid blue; 
  }

  // Small Screen ...
  @media (min-width: 576px) and (max-width: (768px - 1)) {
    // border: 4px solid turquoise;
  }

  // Smaller Screen ...
  @media (max-width: (576px - 1px)) {
    // border: 4px solid chocolate;
  }
}
