:root {
  //navbar-nav
  --enjanga2025app-navbar-logo-width: 135px;
  --enjanga2025app-navbar-margin: 0;
  --enjanga2025app-navbar-gap: 0;
  --enjanga2025app-navbar-padding: 8px 0;
  --enjanga2025app-navbar-navitem-sep-display: none;
  --enjanga2025app-navbar-navitem-sep-right: -12px;

  --webite-navbar-collapse-padding: 15px 0;
}

@layer navbar {
  .Navigation {
    &.dark {
      background-color: var(--enjanga2025app-theme-light-bbbb-0);

      .nav-link {
        color: var(--enjanga2025app-theme-light-xxxx-0);
        cursor: pointer;

        &:hover {
          color: var(--enjanga2025app-theme-light-aaaa-y);
        }
      }

      .nav-item {
        position: relative;
  
        &::after { // separator between links
          background-color: var(--enjanga2025app-theme-light-bbbb-4);
        }
      } 
    }
  }
  .Navigation {
    padding: var(--enjanga2025app-navbar-padding);
    // // Extra Large screen ...
    @media (min-width: 1400px) {
      // border: 3px solid purple; 
      --enjanga2025app-navbar-margin: 0 auto;
      --enjanga2025app-navbar-padding: 10px 0;
      --enjanga2025app-navbar-navitem-sep-display: block;
      --enjanga2025app-navbar-gap: 30px;
      --enjanga2025app-navbar-navitem-sep-right: -18px;
      --webite-navbar-collapse-padding: 0;
    }

    // Large screen ...
    @media (min-width: 1200px) and (max-width: (1400px - 1)) {
      // border: 3px solid violet; 
      --enjanga2025app-navbar-margin: 0 auto;
      --enjanga2025app-navbar-padding: 10px 0;
      --enjanga2025app-navbar-navitem-sep-display: block;
      --enjanga2025app-navbar-gap: 30px;
      --enjanga2025app-navbar-navitem-sep-right: -18px;
      --webite-navbar-collapse-padding: 0;
    }

    // Large Medium screen ...
    @media (min-width: 992px) and (max-width: (1200px - 1)) {
      // border: 3px solid lime; 
      --enjanga2025app-navbar-margin: 0 auto;
      --enjanga2025app-navbar-padding: 10px 0;
      --enjanga2025app-navbar-navitem-sep-display: block;
      --enjanga2025app-navbar-gap: 20px;
      --webite-navbar-collapse-padding: 0;
    }

    // Medium Medium screen ...
    @media (min-width: 768px) and (max-width: (992px - 1)) {
      // border: 3px solid blue;
      --enjanga2025app-navbar-padding: 10px 0;
    }

    // // Small Screen ...
    // @media (min-width: 576px) and (max-width: (768px - 1)) {
    //     // border: 3px solid turquoise;
    // }

    // // Smaller Screen ...
    // @media (max-width: (576px - 1px)) {
    //     // border: 3px solid chocolate;
    // }

    .container {
      position: relative;
    }

    .navbar-collapse {
      text-align: center;
      padding: var(--webite-navbar-collapse-padding);
    }

    .navbar-nav {
      gap: var(--enjanga2025app-navbar-gap);
    }

    .nav-item {
      position: relative;

      // separator between links
      &::after {
        display: var(--enjanga2025app-navbar-navitem-sep-display);
        position: absolute;
        top: 30%;
        right: var(--enjanga2025app-navbar-navitem-sep-right);
        content: "";
        width: 1px;
        height: 20px; 
      }
      &:last-of-type {
        &::after {
          display: none;
        }
      }
    }

    .nav-link {
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }

      &.active {
        text-shadow: 0 0 7px var(--enjanga2025app-clr-col1-accent-xx1);
        text-decoration: underline;
      }

      &.item-icon-material {
        position: relative;
        font-weight: bold;
        display: inline-block;
        text-decoration: none;
        padding-right: 22px;

        &:hover {
          text-decoration: underline;
        }

        &::after {
          position: absolute;
          left: unset;
          right: 0px;
          top: 5px;
        }
      }
    }

    .navbar-brand {
      img {
        width: var(--enjanga2025app-navbar-logo-width);
        height: inherit;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
