:root {
  --appname-modal-brd-width: 7px; 
  --appname-modal-body-padd: 2rem 2rem 1rem 2rem;
  --appname-modal-footer-padd: 1rem 2rem;
}

.appname-modal.modal-wrapper {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  .modal-content {
    margin: 2rem auto;
    max-width: 500px;
    min-height: 300px;
    padding: 0;
    border-radius: 6px;

    // border styles ...
    border: var(--appname-modal-brd-width) solid var(--appname-theme-light-xxxx-0); 

    // inner droshadow looking like a solid border ...
    box-shadow: inset 0 0 0 1px var(--appname-theme-light-cccc-8);
    background-color: var(--appname-theme-light-bbbb-8);
  }
  .modal-header {
    padding: var(--appname-modal-body-padd);
    
    .modal-header-heading {
      margin: 0;
    }
  }
  .modal-body {
    padding: var(--appname-modal-body-padd);
    padding-top: 0;

    // p:last-of-type {
    //   margin-bottom: 0;
    // }
  }

  .modal-btn-close {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 2px;
    right: 2px;
    opacity: 0.5;
    padding: 0;
    border: 0;

    &:hover {
      opacity: 1;
    }

    .icon {
      width: 1rem;
      height: 1rem;
    }
  }

  .modal-footer {
    display: flex;
    gap: 10px;
    padding: var(--appname-modal-footer-padd);
    border-top: 1px solid var(--appname-theme-light-cccc-8); 
  }
}
