:root {
  --enjanga2025app-modal-brd-width: 7px; 
  --enjanga2025app-modal-body-padd: 2rem 2rem 1rem 2rem;
  --enjanga2025app-modal-footer-padd: 1rem 2rem;
  // Modal width sizes
  --enjanga2025app-modal-width-large: 900px;
  --enjanga2025app-modal-width-medium: 500px;
  --enjanga2025app-modal-width-small: 300px;
}

.appname-modal.modal-wrapper {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  .modal-content {
    margin: 2rem auto;
    max-width: var(--enjanga2025app-modal-width-medium);
    min-height: 300px;
    padding: 0;
    border-radius: 6px;

    // border styles ...
    border: var(--enjanga2025app-modal-brd-width) solid var(--enjanga2025app-theme-light-xxxx-0); 

    // inner droshadow looking like a solid border ...
    box-shadow: inset 0 0 0 1px var(--enjanga2025app-theme-light-cccc-8);
    background-color: var(--enjanga2025app-theme-light-bbbb-8);

    &.modal-large {
      max-width: var(--enjanga2025app-modal-width-large);
    }
    &.modal-small {
      max-width: var(--enjanga2025app-modal-width-small);
    }
  }
  .modal-header {
    padding: var(--enjanga2025app-modal-body-padd);
    
    .modal-header-heading {
      margin: 0;
    }
  }
  .modal-body {
    padding: var(--enjanga2025app-modal-body-padd);
    padding-top: 0;
    max-height: 400px;
    overflow-y: scroll;
  }

  .modal-btn-close {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 2px;
    right: 2px;
    opacity: 0.5;
    padding: 0;
    border: 0;

    &:hover {
      opacity: 1;
    }

    .icon {
      width: 1rem;
      height: 1rem;
    }
  }

  .modal-footer {
    display: flex;
    gap: 10px;
    padding: var(--enjanga2025app-modal-footer-padd);
    border-top: 1px solid var(--enjanga2025app-theme-light-cccc-8); 
  }
}
