:root {
  --appname-ExpertiseSpec-padd: 24px;
  --appname-ExpertiseSpec-padd-top: 60px;
  --appname-ExpertiseSpec-padd-left: 24px;
}

.InformationCard1.card {
  display: block;
  width: 100%;
  border-radius: var(--appname-bdr-radius-0);
  border-width: 2px;
  border-color: transparent;
  background-color: var(--appname-theme-light-cccc-2a);
  padding: var(--appname-ExpertiseSpec-padd);
  padding-top: var(--appname-ExpertiseSpec-padd-top);
  padding-left: var(--appname-ExpertiseSpec-padd-left);

  cursor: pointer;
 
  &:hover {
    background-color: var(--appname-theme-light-aaaa-3x);
    border-color: var(--appname-theme-light-aaaa-2);

    .btn {
      text-decoration: none;
    }
  }

  .card-body {
    padding: 0;

    .icon {
      position: absolute;
      top: var(--appname-ExpertiseSpec-padd);
      left: var(--appname-ExpertiseSpec-padd);
    }
  }
  .btn {
    padding-left: 0;
    padding-bottom: 0;
    font-size: 1rem;
    color: var(--appname-theme-light-eee-1);
  }





  // Extra Large screen ...
  @media (min-width: 1400px) {
    // border: 4px dashed chocolate;
    --appname-ExpertiseSpec-padd-top: 24px;
    --appname-ExpertiseSpec-padd-left: 60px;
  }

  // Large screen ...
  @media (min-width: 1200px) and (max-width: (1400px - 1)) {
    // border: 4px dashed turquoise;
    --appname-ExpertiseSpec-padd-top: 24px;
    --appname-ExpertiseSpec-padd-left: 60px;
  }

  // Large Medium screen ...
  @media (min-width: 992px) and (max-width: (1200px - 1)) {
    // border: 4px dashed blue;
    --appname-ExpertiseSpec-padd-top: 24px;
    --appname-ExpertiseSpec-padd-left: 60px;
  }

  // Medium Medium screen ...
  @media (min-width: 768px) and (max-width: (992px - 1)) {
    // border: 4px dashed lime;
    // --appname-ExpertiseSpec-padd-top: 24px;
    // --appname-ExpertiseSpec-padd-left: 60px;
  }

  // Small Screen ...
  @media (min-width: 576px) and (max-width: (768px - 1)) {
    // border: 4px dashed violet;
    --appname-ExpertiseSpec-padd-top: 24px;
    --appname-ExpertiseSpec-padd-left: 60px;
  }

  // Smaller Screen ...
  @media (max-width: (576px - 1px)) {
    // border: 4px dashed purple;
  }
}