:root {
  --appname-ExpertiseSpec-padd: 15px 40px 15px 15px; //24px;
  --appname-ExpertiseSpec-padd-top: 15px;
  --appname-ExpertiseSpec-padd-left: 42px; //24px;
  --appname-ExpertiseSpec-blurb-display: none;
  --appname-ExpertiseSpec-icon-left: 10px;
  --appname-ExpertiseSpec-icon-top: 18px;
  --appname-ExpertiseSpec-iconhover-right: 10px; //23px;
}

.InformationCard1 {
  &-title {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
  }

  &-blurb {
    display: var(--appname-ExpertiseSpec-blurb-display);
  }
}

.InformationCard1.card {
  display: block;
  width: 100%;
  border-radius: var(--appname-bdr-radius-0);
  border-width: 2px;
  border-color: transparent;
  background-color: var(--appname-theme-light-cccc-2a);
  padding: var(--appname-ExpertiseSpec-padd);
  padding-top: var(--appname-ExpertiseSpec-padd-top);
  padding-left: var(--appname-ExpertiseSpec-padd-left);

  &.has-hover {
    cursor: pointer;

    &:hover {
      .icon-hover {
        opacity: 1;
      }
    }
  }

  .icon {
    position: absolute;
    top: var(--appname-ExpertiseSpec-icon-top);
    left: var(--appname-ExpertiseSpec-icon-left);
    display: var(--appname-ExpertiseSpec-icon-display);
  }

  .icon-hover {
    position: absolute;
    right: var(--appname-ExpertiseSpec-iconhover-right);
    opacity: 0.5;
  }

  .card-body {
    padding: 0;
  }


  // Extra Large screen ...
  @media (min-width: 1400px) {
    // border: 4px dashed chocolate;
    --appname-ExpertiseSpec-padd-top: 24px;
    --appname-ExpertiseSpec-padd-left: 60px;
    --appname-ExpertiseSpec-padd: 24px 54px 24px 24px;
    --appname-ExpertiseSpec-icon-top: 26px;
    --appname-ExpertiseSpec-icon-left: 20px;
    --appname-ExpertiseSpec-blurb-display: block;
  }

  // Large screen ...
  @media (min-width: 1200px) and (max-width: (1400px - 1)) {
    // border: 4px dashed turquoise;
    --appname-ExpertiseSpec-padd-top: 24px;
    --appname-ExpertiseSpec-padd-left: 60px;
    --appname-ExpertiseSpec-padd: 24px 54px 24px 24px;
    --appname-ExpertiseSpec-icon-top: 26px;
    --appname-ExpertiseSpec-icon-left: 20px;
    --appname-ExpertiseSpec-blurb-display: block;
  }

  // Large Medium screen ...
  @media (min-width: 992px) and (max-width: (1200px - 1)) {
    // border: 4px dashed blue;
    --appname-ExpertiseSpec-padd-top: 24px;
    --appname-ExpertiseSpec-padd-left: 60px;
    --appname-ExpertiseSpec-padd: 24px 54px 24px 24px;
    --appname-ExpertiseSpec-icon-top: 26px;
    --appname-ExpertiseSpec-icon-left: 20px;
    --appname-ExpertiseSpec-blurb-display: block;
  }

  // Medium Medium screen ...
  @media (min-width: 768px) and (max-width: (992px - 1)) {
    // border: 4px dashed lime;
    --appname-ExpertiseSpec-padd: 20px;
  }

  // Small Screen ...
  @media (min-width: 576px) and (max-width: (768px - 1)) {
    // border: 4px dashed violet;
  }

  // Smaller Screen ...
  @media (max-width: (576px - 1px)) {
    // border: 4px dashed purple;
  }
}