:root {
    --appName-section-intro-card-marg: 0 0 4px 0;
    --appName-section-intro-card-display: block;

    // Intro card
    --appName-section-intro-h-textalign: left;
    --appName-section-intro-card-padd: 30px 20px 20px 20px;

    // Skills card
    --appName-skills-wrapper-grid-template: 1fr / 1fr;
    --appName-skills-card-padd: 30px 20px 20px 20px;
    --appName-skills-card-1st-child-gridrow: unset;
}

@layer best-work {
    .best-work__header {
        padding: 0 30% 0 0;
    }
}

@layer section-introduction {
    .section-introduction {
        .card-group {
            display: var(--appName-section-intro-card-display);

            .card {
                margin: var(--appName-section-intro-card-marg);

                .card-body {
                    padding: var(--appName-section-intro-card-padd);
                }
            }

            // Extra Large screens ...
            @media (min-width: 1400px) {
                // border: 4px solid purple;
                --appName-section-intro-card-display: flex;
                --appName-section-intro-card-padd: 45px 55px 40px 55px;
            }
            
            // Large screens ...
            @media (min-width: 1200px) and (max-width: (1400px - 1)) {
                // border: 4px solid violet;
                --appName-section-intro-card-display: flex;
                --appName-section-intro-card-padd: 45px 45px 35px 45px;
            }
            
            // Large Medium screens ...
            @media (min-width: 992px) and (max-width: (1200px - 1)) {
                // border: 4px solid lime;
                --appName-section-intro-card-display: flex;
                --appName-section-intro-card-padd: 45px 30px 30px 30px;
            }

            // Medium Medium screens ...
            @media (min-width: 768px) and (max-width: (992px - 1)) {
                // border: 4px solid blue;
                --appName-section-intro-card-padd: 45px 30px 30px 30px;
            }

            // Small Medium screens ...
            @media (min-width: 576px) and (max-width: (768px - 1)) {
                // border: 4px solid turquoise;
                --appName-section-intro-card-padd: 45px 30px 30px 30px;
            }

            // Smaller screens ...
            @media (max-width: (576px - 1px)) {
                // border: 4px solid chocolate;
            }
        }

        &__header {
            text-align: var(--appName-section-intro-h-textalign);
        }

        // Extra Large screens ...
        @media (min-width: 1400px) {
            // border: 3px solid purple;
            --appName-section-intro-h-textalign: center;
        }
        
        // Large screens ...
        @media (min-width: 1200px) and (max-width: (1400px - 1)) {
            // border: 3px solid violet;
            --appName-section-intro-h-textalign: center;
        }
        
        // Large Medium screens ...
        @media (min-width: 992px) and (max-width: (1200px - 1)) {
            // border: 3px solid lime;
            --appName-section-intro-h-textalign: center;
        }
    
        // Medium Medium screens ...
        @media (min-width: 768px) and (max-width: (992px - 1)) {
            // border: 3px solid blue;
            --appName-section-intro-h-textalign: center;
        }
    
        // // Small Medium screens ...
        // @media (min-width: 576px) and (max-width: (768px - 1)) {
        //     // border: 3px solid turquoise;
        // }
    
        // // Smaller screens ...
        // @media (max-width: (576px - 1px)) {
        //     // border: 3px solid chocolate;
        // }
    }
}

.best-work-header,
.site-carousel-item .card,
.section-skills header,
.jumbotron__textwrapper,
.sc-header-bot-spacing,
.banner-shine, .banner-feature,
.alert,
.special-card {
    ul, ol, p {
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

@layer section-skills {
    .section-skills {
        header {
            max-width: 670px;
        }
        .section-skills__wrapper {
            display: grid;
            grid-template: var(--appName-skills-wrapper-grid-template);
            gap: 4px;

            .special-card { 
                .card-body {
                    padding: var(--appName-skills-card-padd);
                }

                &:first-of-type { // Occupy 2 rows
                    grid-row: var(--appName-skills-card-1st-child-gridrow);
                }
            }

            // Extra Large screens ...
            @media (min-width: 1400px) {
                // border: 4px solid purple;
                --appName-skills-wrapper-grid-template: 1fr 1fr / 1fr 1fr;
                --appName-skills-card-1st-child-gridrow: span 2;
                --appName-skills-card-padd: 40px 40px 40px 85px;
            }
            
            // Large screens ...
            @media (min-width: 1200px) and (max-width: (1400px - 1)) {
                // border: 4px solid violet;
                --appName-skills-wrapper-grid-template: 1fr 1fr / 1fr 1fr;
                --appName-skills-card-1st-child-gridrow: span 2;
                --appName-skills-card-padd: 40px 40px 40px 65px;
            }
            
            // Large Medium screens ...
            @media (min-width: 992px) and (max-width: (1200px - 1)) {
                // border: 4px solid lime;
                --appName-skills-wrapper-grid-template: 1fr 1fr / 1fr 1fr;
                --appName-skills-card-1st-child-gridrow: span 2;
                --appName-skills-card-padd: 30px 30px 30px 55px;
            }
    
            // Medium Medium screens ...
            @media (min-width: 768px) and (max-width: (992px - 1)) {
                // border: 4px solid blue;
                --appName-skills-card-padd: 45px 30px 30px 30px;
            }
    
            // // Small Medium screens ...
            // @media (min-width: 576px) and (max-width: (768px - 1)) {
            //     border: 4px solid turquoise;
            //     --appName-skills-card-padd: 45px 30px 30px 30px;
            // }
    
            // // Smaller screens ...
            // @media (max-width: (576px - 1px)) {
            //     border: 4px solid chocolate;
            // }
        }
    }
}




