:root {
  --site-ExpertiseSpec-padd: 24px;
  --site-ExpertiseSpec-padd-left: 60px;
}

.ExpertiseSpec.card {
  display: block;
  width: 100%;
  border-radius: var(--website-bdr-radius-0);
  border-width: 0;
  background-color: var(--website-theme-light-cccc-2a);
  padding: var(--site-ExpertiseSpec-padd);
  padding-left: var(--site-ExpertiseSpec-padd-left);

  cursor: pointer;

  &:hover {
    background-color: var(--website-theme-light-aaaa-3x);
  }

  .card-body {
    padding: 0;

    .icon {
      position: absolute;
      top: var(--site-ExpertiseSpec-padd);
      left: var(--site-ExpertiseSpec-padd);
    }
  }
  .btn {
    padding-left: 0;
    font-size: 1rem;
    color: var(--website-theme-light-eee-1);
  }
}