


.form-control,
.form-select {
  background-color: var(--appName-theme-light-xxxx-0);
  border-color: var(--appName-theme-light-cccc-8);
  border-radius: var(--appName-bdr-radius-0);
}

textarea {
  min-height: 7rem;
}

.form-label { 
  margin-bottom: 0.25rem;
}