


.form-control,
.form-select {
  background-color: var(--appname-theme-light-xxxx-0);
  border-color: var(--appname-theme-light-cccc-8);
  border-radius: var(--appname-bdr-radius-0);
}

textarea {
  min-height: 7rem;
}

.form-label { 
  margin-bottom: 0.25rem;
}
.form-control.is-invalid, .was-validated .form-control:invalid,
.form-select.is-invalid, .was-validated .form-select:invalid {
  border-color: var(--bs-form-invalid-border-color)!important;
}