:root {
  --appname-PanelFrame-gap: 4px;
  --appname-PanelFrame-column-count: 1;
  --appname-pageSection-hero-marg-bottom: 15px;
}

.PanelFrame {
  .content-grid {
    column-count: var(--appname-PanelFrame-column-count);
    column-gap: var(--appname-PanelFrame-gap); /* Consistent gap */

    .PanelFrame-item {
      break-inside: avoid; /* Prevent item splitting */
      margin-bottom: var(--appname-PanelFrame-gap); /* Gap between rows */
    }
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }

  // Extra Large screen ...
  @media (min-width: 1400px) {
    // border: 10px solid purple;
    --appname-PanelFrame-column-count: 2;
    --appname-pageSection-hero-marg-bottom: 45px;
  }

  // Large screen ...
  @media (min-width: 1200px) and (max-width: (1400px - 1)) {
    // border: 10px solid violet;
    --appname-PanelFrame-column-count: 2;
    --appname-pageSection-hero-marg-bottom: 35px;
  }

  // Large Medium screen ...
  @media (min-width: 992px) and (max-width: (1200px - 1)) {
    // border: 10px solid lime;
    --appname-PanelFrame-column-count: 2;
    --appname-pageSection-hero-marg-bottom: 30px;
  }

  // Medium Medium screen ...
  @media (min-width: 768px) and (max-width: (992px - 1)) {
    // border: 10px solid blue;
    --appname-PanelFrame-column-count: 2;
    --appname-pageSection-hero-marg-bottom: 30px;
  }

  // Small Screen ...
  @media (min-width: 576px) and (max-width: (768px - 1)) {
    // border: 10px solid turquoise;
    --appname-pageSection-hero-marg-bottom: 25px;
  }

  // Smaller Screen ...
  @media (max-width: (576px - 1px)) {
    // border: 10px solid chocolate;
  }

  &.theme-1 {
    color: var(--appname-theme-light-bbbb-1);
    background-color: var(--appname-theme-light-bbbb-8);

    .pageSection-intro-text {
      a {
        color: var(--appname-theme-light-eee-1);
      }
    }
  }

  &.theme-2 {
    color: var(--appname-theme-light-xxxx-0);
    background-color: var(--appname-theme-light-bbbb-2);

    .pageSection-intro-text {
      a {
        color: var(--appname-theme-light-eee-2);
      }
    }

    .PanelFrame-item {
      color: var(--appname-theme-light-xxxx-0);
      background-color: var(--appname-theme-light-bbbb-3);

      .icon {
        color: var(--appname-theme-light-bbbb-10);
      }

      .btn-link {
        color: var(--appname-theme-light-eee-2);
      }

      // ...
      &:hover {
        border-color: var(--appname-theme-light-aaaa-7);
        background-color: var(--appname-theme-light-bbbb-3a);
      }
    }
  }

  &.theme-3 {
    color: var(--appname-theme-light-xxxx-0);
    background-color: var(--appname-theme-light-bbbb-01);

    .pageSection-intro-text {
      a {
        color: var(--appname-theme-light-eee-1);
      }
    }

    .PanelFrame-item {
      color: var(--appname-theme-light-xxxx-0);
      background-color: var(--appname-theme-light-bbbb-02);

      .icon {
        color: var(--appname-theme-light-bbbb-10);
      }

      // ...
      &:hover {
        border-color: var(--appname-theme-light-aaaa-7);
        background-color: var(--appname-theme-light-bbbb-03);
      }
    }
  }
}
