:root {
  --enjanga2025app-PanelFrame-gap: 4px;
  --enjanga2025app-PanelFrame-column-count: 1;
  --enjanga2025app-pageSection-hero-marg-bottom: 15px;
}

.PanelFrame {
  .content-grid {
    column-count: var(--enjanga2025app-PanelFrame-column-count);
    column-gap: var(--enjanga2025app-PanelFrame-gap); /* Consistent gap */

    .PanelFrame-item {
      break-inside: avoid; /* Prevent item splitting */
      margin-bottom: var(--enjanga2025app-PanelFrame-gap); /* Gap between rows */
    }
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }

  // Extra Large screen ...
  @media (min-width: 1400px) {
    // border: 10px solid purple;
    --enjanga2025app-PanelFrame-column-count: 2;
    --enjanga2025app-pageSection-hero-marg-bottom: 45px;
  }

  // Large screen ...
  @media (min-width: 1200px) and (max-width: (1400px - 1)) {
    // border: 10px solid violet;
    --enjanga2025app-PanelFrame-column-count: 2;
    --enjanga2025app-pageSection-hero-marg-bottom: 35px;
  }

  // Large Medium screen ...
  @media (min-width: 992px) and (max-width: (1200px - 1)) {
    // border: 10px solid lime;
    --enjanga2025app-PanelFrame-column-count: 2;
    --enjanga2025app-pageSection-hero-marg-bottom: 30px;
  }

  // Medium Medium screen ...
  @media (min-width: 768px) and (max-width: (992px - 1)) {
    // border: 10px solid blue;
    --enjanga2025app-PanelFrame-column-count: 2;
    --enjanga2025app-pageSection-hero-marg-bottom: 30px;
  }

  // Small Screen ...
  @media (min-width: 576px) and (max-width: (768px - 1)) {
    // border: 10px solid turquoise;
    --enjanga2025app-pageSection-hero-marg-bottom: 25px;
  }

  // Smaller Screen ...
  @media (max-width: (576px - 1px)) {
    // border: 10px solid chocolate;
  }


  &.theme-1 {
    .PanelFrame-item {

      // ... 
      &.has-hover { 
        &:hover {
          border-color: var(--enjanga2025app-theme-light-aaaa-7);
          background-color: var(--enjanga2025app-theme-light-aaaa-3x);

          .icon-hover {
            opacity: 1;
          }
        }

        .icon-hover {
          opacity: 0.5;
        }
      }
    }
  }



  &.theme-2 {
    .PanelFrame-item {
      color: var(--enjanga2025app-theme-light-xxxx-0);
      background-color: var(--enjanga2025app-theme-light-bbbb-3);

      .icon {
        color: var(--enjanga2025app-theme-light-bbbb-10);
      }

      .btn-link {
        color: var(--enjanga2025app-theme-light-eee-2);
      }

      // ...
      &.has-hover {
        &:hover {
          border-color: var(--enjanga2025app-theme-light-aaaa-7);
          background-color: var(--enjanga2025app-theme-light-bbbb-3a);
        }
      }
    }
  }

  &.theme-3 {
    .PanelFrame-item {
      color: var(--enjanga2025app-theme-light-xxxx-0);
      background-color: var(--enjanga2025app-theme-light-bbbb-02);

      .icon {
        color: var(--enjanga2025app-theme-light-bbbb-10);
      }

      // ...
      &.has-hover { 
        &:hover {
          border-color: var(--enjanga2025app-theme-light-aaaa-7);
          background-color: var(--enjanga2025app-theme-light-bbbb-3a);
        }
      }
    }
  }

  &.theme-2, &.theme-3 {
    .PanelFrame-item {
      &.has-hover { 
        &:hover {
          .icon-hover {
            color: #00ff94;
          }
        }
      }
    }
  }
}
