
@import './body-spacing-and-gaps';

:root {
}


/**
 * INITIALIZATION
 * ---------------------------------------------
*/ 
body {
  // Making the font appear crisp globally ...
  -webkit-font-smoothing: antialiased; /* For Chrome, Safari, and newer versions of Edge */
  -moz-osx-font-smoothing: grayscale; /* For Firefox on macOS */
  font-smooth: auto; /* For older versions of Edge and other browsers */

  // ...
  font-size: 1.05rem;

  // Typography
  font-family: var(--appname-font-body);
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  // font-size handled by bootstrap
} 

* {
  transition: all 0.3s ease; /* Adjust the duration and timing function as needed */
}


/**
 * TYPOGRAPHY
 * ---------------------------------------------
*/
 
h1,
h2,
h3,
h4,
h5, .btn, .navbar-brand, .logo, .speech-bubble a {
  font-family: var(--appname-font-headings); 
  font-style: normal;
}


.navbar-brand, .logo {
  font-weight: 900;
}






/**
 * Page Layout
 * (for aurora backgrounds)
 * ---------------------------------------------
*/
// This places the wrapped content above all aurora backgrounds
.page-container {
  position: relative;
  z-index: 5; 
  /* z-index superior to 
  .global-footer--bg-wrapper (4), 
  .global-footer--bg-aurora (2)
  .global-footer__quick-links (3)
  */
}