
@import './body-spacing-and-gaps';

:root {
  // Font sizes and line heights ...
  --appname-fs-h1: 3rem; // 48px;
  --appname-ln-h1: 3.375rem; // 54px; 

  --appname-fs-h2: 2.125rem; // 34px;
  --appname-ln-h2: 2.438rem; // 39px;  
  --appname-fs-h2-subtitle: 1.125rem; // 18px;
  --appname-ln-h2-subtitle: 1.688rem; // 27px; 

  --appname-fs-h3: 1.625rem; // 26px;
  --appname-ln-h3: 1.875rem; // 30px; 

  --appname-fs-h4: 1.438rem; // 23px;
  --appname-ln-h4: 1.296rem; // 27px
 

  // Bottom margins
  --appname-mb-h1: 0.938rem; // 15px;
  --appname-mb-h2: 0.938rem; // 15px;
  --appname-mb-h3: 0.625rem; // 10px;
  --appname-mb-h4: 0.625rem; // 10px;
}


/**
 * INITIALIZATION
 * ---------------------------------------------
*/ 
body {
  // Making the font appear crisp globally ...
  -webkit-font-smoothing: antialiased; /* For Chrome, Safari, and newer versions of Edge */
  -moz-osx-font-smoothing: grayscale; /* For Firefox on macOS */
  font-smooth: auto; /* For older versions of Edge and other browsers */

  // ...
  font-size: 1.05rem;

  // Typography
  font-family: var(--appname-font-body);
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  // font-size handled by bootstrap
} 

* {
  transition: all 0.3s ease; /* Adjust the duration and timing function as needed */
}


/**
 * TYPOGRAPHY
 * ---------------------------------------------
*/


// h3 {
  

//   // Extra Large screen ...
//   @media (min-width: 1400px) {
//     border: 1px solid purple;
//   }
  
//   // Large screen ...
//   @media (min-width: 1200px) and (max-width: (1400px - 1)) {
//       border: 1px solid violet;
//   }
  
//   // Large Medium screen ...
//   @media (min-width: 992px) and (max-width: (1200px - 1)) {
//       border: 1px solid lime;
//   }

//   // Medium Medium screen ...
//   @media (min-width: 768px) and (max-width: (992px - 1)) {
//       border: 1px solid blue;
//   }

//   // Small Screen ...
//   @media (min-width: 576px) and (max-width: (768px - 1)) {
//       border: 1px solid turquoise;
//   }

//   // Smaller Screen ...
//   @media (max-width: (576px - 1px)) {
//       border: 1px solid chocolate;
//   }
// }


h1,
h2,
h3,
h4,
h5, .btn, .navbar-brand, .logo, .speech-bubble a {
  font-family: var(--appname-font-headings); 
  font-style: normal;
}


.navbar-brand, .logo {
  font-weight: 900;
}



h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  font-variation-settings:
    "slnt" 0;


  // Extra Large screen ...
  @media (min-width: 1400px) {
    // border: 3px solid purple;
    // Font sizes and line heights ...
    --appname-fs-h1: 5rem; //80px;
    --appname-ln-h1: 79px; 
    --appname-mb-h1: 30px;

    --appname-fs-h2: 3rem; // 48px;
    --appname-ln-h2: 3.25rem; // 52px; 

    --appname-fs-h3: 30px;
    --appname-ln-h3: 2.188rem; // 35px;

    --appname-fs-h4: 1.625rem; // 26px;
    --appname-ln-h4: 1.875rem; // 30px; 

    // Margins ...
    --appname-mb-h2: 1.25rem; // 20px
    --appname-mb-h3: 0.813rem; // 13px;
    --appname-mb-h4: 0.813rem; // 13
  }
  
  // Large screen ...
  @media (min-width: 1200px) and (max-width: (1400px - 1)) {
    // border: 3px solid violet;
    // Font sizes and line heights ...
    --appname-fs-h1: 72px;
    --appname-ln-h1: 70px; 
    --appname-mb-h1: 30px;

    --appname-fs-h2: 2.875rem; // 46px;
    --appname-ln-h2: 3.25rem; // 52px; 

    --appname-fs-h3: 1.75rem; // 28px;
    --appname-ln-h3: 2rem; // 32px; 

    --appname-fs-h4: 1.625rem; // 26px;
    --appname-ln-h4: 1.875rem; // 30px; 

    // Margins ...
    --appname-mb-h2: 1.25rem; // 20px
    --appname-mb-h3: 0.625rem; // 10px;
    --appname-mb-h4: 0.813rem; // 13
  }
  
  // Large Medium screen ...
  @media (min-width: 992px) and (max-width: (1200px - 1)) {
    // border: 3px solid lime;
    // Font sizes and line heights ... 
    --appname-fs-h1: 68px;
    --appname-ln-h1: 64px; 
    --appname-mb-h1: 22px;

    --appname-fs-h2: 2.625rem; // 42px;  
    --appname-ln-h2: 2.938rem; // 47px

    --appname-fs-h3: 1.625rem; // 26px;
    --appname-ln-h3: 2rem; // 32px; 

    --appname-fs-h4: 1.438rem; // 23px;
    --appname-ln-h4: 1.296rem; // 27px

    // Margins ...
    --appname-mb-h2: 1.25rem; // 20px
    --appname-mb-h3: 0.625rem; // 10px;
    --appname-mb-h4: 0.813rem; // 13
  }

  // Medium Medium screen ...
  @media (min-width: 768px) and (max-width: (992px - 1)) {
    // border: 3px solid blue;
    // Font sizes and line heights ...  
    --appname-fs-h1: 58px;
    --appname-ln-h1: 56px; 
    --appname-mb-h1: 22px;

    --appname-fs-h2: 2.375rem; // 38px;
    --appname-ln-h2: 2.625rem; // 42px;  

    --appname-fs-h3: 1.625rem; // 26px;
    --appname-ln-h3: 1.875rem; // 30px; 

    --appname-fs-h4: 1.438rem; // 23px;
    --appname-ln-h4: 1.296rem; // 27px

    // Margins ...
      --appname-mb-h2: 1.25rem; // 20
      --appname-mb-h3: 0.625rem; // 10px;
      --appname-mb-h4: 0.813rem; // 13
  }

  // // Small Screen ...
  // @media (min-width: 576px) and (max-width: (768px - 1)) {
  //     border: 3px solid turquoise;
  // }

  // // Smaller Screen ...
  // @media (max-width: (576px - 1px)) {
  //     border: 3px solid chocolate;
  // }
}


h1, .h1 {
  margin-bottom: var(--appname-mb-h1);
  font-size: var(--appname-fs-h1);
  line-height: var(--appname-ln-h1);
  letter-spacing: -0.66px;
}

h2, .h2 {
  margin-bottom: var(--appname-mb-h2);
  font-size: var(--appname-fs-h2); 
  line-height: var(--appname-ln-h2);
  letter-spacing: -0.28px;
  font-weight: 350;
}
.h2-subtitle {
  font-size: var(--appname-fs-h2-subtitle); 
  line-height: var(--appname-ln-h2-subtitle); 
}

h3, .h3 {
  margin-bottom: var(--appname-mb-h3);
  font-size: var(--appname-fs-h3); 
  line-height: var(--appname-ln-h3);
  letter-spacing: -0.46px;
}

h4, .h4 {
  margin-bottom: var(--appname-mb-h4);
  font-size: var(--appname-fs-h4); 
  line-height: var(--appname-ln-h4);
  letter-spacing: -0.46px;
}

h3, h4 {
  font-weight: 450;
}





/**
 * Page Layout
 * (for aurora backgrounds)
 * ---------------------------------------------
*/
// This places the wrapped content above all aurora backgrounds
.page-container {
  position: relative;
  z-index: 5; 
  /* z-index superior to 
  .global-footer--bg-wrapper (4), 
  .global-footer--bg-aurora (2)
  .global-footer__quick-links (3)
  */
}