// :root {
//     //navbar-nav
//     --appname-bgscr-pos-y: 0;
// }


@layer base {
@layer utilities {

    // Will force the image to behave like it's being cropped:
    // Whenever the size of the image varies, the picture remains constant
    .img-poster {
        object-fit: cover;
        width: 100%;
    } 
    
    .is-fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000; /* Ensure it's on top */
    }

    .txt-highlight1 { 
        font-weight: 600;
    }

    .list-bullets-vert-align {
        padding-left: 0.875rem;
    }
}
}