// :root {
//     //navbar-nav
//     --appname-bgscr-pos-y: 0;
// }


@layer utilities {
    .is-fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000; /* Ensure it's on top */
    }

    .txt-highlight1 { 
        font-weight: 600;
    }

    .list-bullets-vert-align {
        padding-left: 0.875rem;
    }
}