:root {
    // LIGHT THEME COLORS ...
    --appName-clr-1: #fff;






    // Box sizes
    --appName-box-width-1: 759px;
    --appName-box-width-2: 650px;
 
    --appName-font-body: "Arimo", sans-serif;
    --appName-font-headings: "Hanken Grotesk", sans-serif;
    
    --appName-fs-body: 32px;

    --appName-navbar-height: 67px;

    --appName-spacing-section-h-small: 40px;


    --appName-bdr-radius-0: 4px;
    --appName-bdr-radius-1: 10px;
    --appName-bdr-radius-2: 20px;
    --appName-bdr-radius-3: 30px;





    --appName-icon-list-icon-dim: 36px;
}



