:root {
    // LIGHT THEME COLORS ...
    --website-clr-1: #fff;






    // Box sizes
    --website-box-width-1: 759px;
    --website-box-width-2: 650px;
 
    --website-font-body: "Arimo", sans-serif;
    --website-font-headings: "Hanken Grotesk", sans-serif;
    
    --website-fs-body: 32px;

    --website-navbar-height: 67px;

    --website-spacing-section-h-small: 40px;


    --website-bdr-radius-0: 4px;
    --website-bdr-radius-1: 10px;
    --website-bdr-radius-2: 20px;
    --website-bdr-radius-3: 30px;





    --website-icon-list-icon-dim: 36px;
}



