:root {
    // LIGHT THEME COLORS ...
    --enjanga2025app-clr-1: #fff;
  
    // Box sizes
    --enjanga2025app-box-width-1: 759px;
    --enjanga2025app-box-width-2: 650px;
 
    --enjanga2025app-font-body: "Arimo", sans-serif;
    --enjanga2025app-font-headings: "Hanken Grotesk", sans-serif;
    
    --enjanga2025app-fs-body: 32px;

    --enjanga2025app-navbar-height: 67px;

    --enjanga2025app-spacing-section-h-small: 40px;


    --enjanga2025app-bdr-radius-0: 4px;
    --enjanga2025app-bdr-radius-1: 10px;
    --enjanga2025app-bdr-radius-2: 20px;
    --enjanga2025app-bdr-radius-3: 30px;
 
    --enjanga2025app-icon-list-icon-dim: 36px;
}

 